Repository Iryna-Gry/fix-lab-project, pull requests merged in 2023-10, with the labels that each got.

#74 update styles
  client/app/(layouts)/(components)/Button.tsx
  client/app/(pages)/repair/(components)/GadgetBrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetsList.tsx
  client/app/(pages)/repair/(components)/GadgetsSlider.tsx
  client/app/(pages)/repair/(components)/SingleGadgetSection.tsx
  client/app/(pages)/repair/[gadget]/zamina-skla/page.tsx
  client/app/globals.css
  client/tailwind.config.js
Labels: correction

#88 Backend: added unit-tests for brands, users, contacts
  server/.eslintrc.js
  server/jest.config.ts
  server/package.json
  server/src/domain/brands/brands.controller.test.ts
  server/src/domain/brands/brands.controller.ts
  server/src/domain/brands/brands.service.ts
  server/src/domain/brands/dto/brand-stub.dto.ts
  server/src/domain/brands/schemas/brand.schema.ts
  server/src/domain/contacts/contacts.controller.test.ts
  server/src/domain/contacts/contacts.controller.ts
  server/src/domain/contacts/dto/contact-stub.dto.ts
  server/src/domain/users/dto/user-stub.dto.ts
  server/src/domain/users/users.controller.test.ts
  server/src/domain/users/users.controller.ts
  server/src/domain/users/users.service.ts
  server/yarn.lock
Labels: enhancement, backend

#89 Fix client & server
  .husky/pre-push
  client/.env.example
  client/app/(server)/api/service/helpers/fetchDataFromServer.ts
  client/next.config.js
  server/package-lock.json
  server/package.json
  server/yarn.lock
Labels: bug, backend

#99 fix styles
  client/app/(components)/ColabSlider/ColabSlider.tsx
  client/app/(components)/RenderMarkdownLight.tsx
  client/app/(layouts)/(components)/AddressLocationCard.tsx
  client/app/(layouts)/Header.tsx
  client/app/(pages)/repair/[gadget]/brands/[brand]/page.tsx
  client/app/(server)/api/service/helpers/fetchDataFromServer.ts
  client/app/globals.css
  client/package-lock.json
  client/package.json
Labels: frontend-client

#100 fix: fixed cors policy
  server/src/main.ts
Labels: backend

#104 Update globals.css
  client/app/globals.css
  client/app/page.tsx
Labels: frontend-client

#105 Update next.config.js
  client/next.config.js
Labels: frontend-client

#106 Update next.config.js
  client/next.config.js
Labels: frontend-client

#107 update revalidate
  client/app/(server)/api/revalidate.ts
  client/app/page.tsx
  client/next.config.js
Labels: frontend-client

#108 update revalidate
  client/app/(server)/api/hello/route.ts
  client/app/(server)/api/revalidate.ts
  client/app/(server)/api/revalidate/route.ts
Labels: frontend-client

#109 Update route.ts
  client/app/(server)/api/revalidate/route.ts
Labels: frontend-client

#113 fix styles
  client/app/(layouts)/(components)/AddressLocationCard.tsx
  client/app/(layouts)/(components)/CallUsCard.tsx
  client/app/(layouts)/AddressSection.tsx
  client/app/(layouts)/BrokenSection.tsx
  client/app/(layouts)/CallCourierSection.tsx
  client/app/(layouts)/ColaborationSection.tsx
  client/app/(layouts)/HeroSection.tsx
  client/app/(pages)/repair/(components)/BrandsSection.tsx
  client/app/(pages)/repair/(components)/BrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetBrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetsList.tsx
  client/app/(pages)/repair/(components)/GadgetsSection.tsx
  client/app/(pages)/repair/(components)/GadgetsSlider.tsx
  client/app/(pages)/repair/(components)/IssueSection.tsx
  client/app/(pages)/repair/(components)/SingleGadgetSection.tsx
  client/app/(pages)/repair/[gadget]/[issue]/page.tsx
  client/app/(pages)/repair/page.tsx
Labels: frontend-client

#116 fix style in sliders
  client/app/(layouts)/(components)/HeroSlider/HeroSlider.tsx
  client/app/(pages)/repair/(components)/BrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetBrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetsSection.tsx
Labels: frontend-client

#119 fix change SSR
  client/app/(server)/api/service/helpers/fetchDataSSR.ts
Labels: frontend-client

#120 Update fetchDataSSR.ts
  client/app/(server)/api/service/helpers/fetchDataSSR.ts
Labels: frontend-client

#128 Client/fix fetch data
  client/app/(server)/api/service/helpers/fetchDataFromServer.ts
  client/next.config.js
  client/package-lock.json
Labels: frontend-client

#130 update ssg
  client/app/(layouts)/Header.tsx
  client/app/(pages)/repair/[gadget]/[issue]/page.tsx
  client/app/(pages)/repair/[gadget]/brands/[brand]/page.tsx
  client/app/(pages)/repair/[gadget]/layout.tsx
  client/app/(pages)/repair/layout.tsx
  client/app/(server)/api/service/helpers/fetchServerSide.ts
  client/package-lock.json
Labels: frontend-client

#134 add tawk chat
  .vscode/settings.json
  admin/app/(hooks)/useLocalStorage .ts
  admin/app/(pages)/articles/(components)/AddArticleSection.tsx
  admin/app/(pages)/articles/(components)/ArticlesList.tsx
  admin/app/(pages)/articles/(components)/EditArticleSection.tsx
  admin/app/(pages)/articles/(components)/RemoveArticles.tsx
  admin/app/(pages)/articles/page.tsx
  admin/app/(pages)/brands/(components)/EditBrandForm .tsx
  admin/app/(pages)/brands/page.tsx
  admin/app/(pages)/gadgets/(components)/DraggableBrandItem.tsx
  admin/app/(pages)/gadgets/(components)/EditBrandsList.tsx
  admin/app/(pages)/gadgets/(components)/EditGadgetForm .tsx
  admin/app/(pages)/gadgets/page.tsx
  admin/app/(server)/api/service/admin/getData.ts
  admin/app/globals.css
  admin/app/layout.tsx
  admin/package-lock.json
  admin/package.json
  client/app/(components)/TawkChat.tsx
  client/app/layout.tsx
  client/package-lock.json
  client/package.json
  client/swiper.d.ts
  client/tawk.d.ts
Labels: frontend-client

#135 update admin
  admin/app/(hooks)/useLocalStorage .ts
  admin/app/(pages)/articles/(components)/AddArticleSection.tsx
  admin/app/(pages)/articles/(components)/EditArticleSection.tsx
Labels: frontend-admin
