Repository Iryna-Gry/fix-lab-project, pull requests merged in 2023-11, with the labels that each got.

#144 build: updated typescript configuration
  .github/workflows/ssh-build.yml
  admin/tsconfig.json
  client/app/(layouts)/(components)/CostRepairModal.tsx
  client/tsconfig.json
  docker-compose.yml
  docker/Dockerfile.admin
  docker/Dockerfile.client
  docker/Dockerfile.server
  server/Dockerfile
  server/src/domain/images/images.service.ts
  server/tsconfig.json
  tsconfig.json
Labels: correction, backend, frontend-client, frontend-admin

#145 fix: update .env.example
  server/.env.example
Labels: backend

#146 feat: implement pagination, blog and auto correct linter
  client/app/(layouts)/(components)/CostRepairModal.tsx
  client/app/(pages)/blog/(components)/MainBlogSection.tsx
  client/app/(pages)/blog/(components)/PaginationControls.tsx
  client/app/(pages)/blog/page.tsx
  client/app/(server)/api/service/modules/articlesService.tsx
  client/tailwind.config.js
Labels: frontend-client

#155 feat: update blog
  client/app/(layouts)/Header.tsx
  client/app/(pages)/blog/(components)/MainBlogSection.tsx
  client/app/(pages)/blog/(components)/PaginationControls.tsx
  client/app/(pages)/blog/[page]/[article]/page.tsx
  client/app/(pages)/blog/[page]/page.tsx
  client/app/(pages)/blog/page.tsx
  client/app/(server)/api/service/helpers/fetchServerSide.ts
  client/app/(server)/api/service/modules/articlesService.tsx
Labels: frontend-client

#162 Trpc compare
  admin/.prettierrc
  admin/package.json
  client/.prettierrc
  client/app/(layouts)/(components)/CostRepairModal.tsx
  client/app/(layouts)/Footer.tsx
  client/package.json
  lint-staged.config.js
  server/src/constants/routes.constants.ts
  server/src/domain/app.module.ts
  server/static/index.html
Labels: backend, frontend-client, frontend-admin

#175 refactor: updated docker next configuration
  client/.dockerignore
  client/app/(layouts)/(components)/CallUsCard.tsx
  client/app/(layouts)/ColaborationSection.tsx
  client/app/(pages)/blog/[page]/[article]/page.tsx
  client/app/(pages)/blog/[page]/page.tsx
  client/app/(pages)/blog/page.tsx
  client/app/(pages)/contacts/page.tsx
  client/app/(pages)/corporate/page.tsx
  client/app/(pages)/repair/(components)/BrandsSection.tsx
  client/app/(pages)/repair/(components)/BrandsSlider.tsx
  client/app/(pages)/repair/(components)/GadgetBrandsSlider.tsx
  client/app/(pages)/repair/(components)/IssueSection.tsx
  client/app/(pages)/repair/[gadget]/[issue]/page.tsx
  client/app/(pages)/repair/[gadget]/brands/[brand]/page.tsx
  client/app/(pages)/repair/[gadget]/brands/page.tsx
  client/app/(pages)/repair/[gadget]/page.tsx
  client/app/(pages)/repair/page.tsx
  client/app/(pages)/strapi/(components)/GeneralInfo.tsx
  client/app/(pages)/strapi/(components)/ProductsSection.tsx
  client/app/(pages)/strapi/(components)/fetchData.ts
  client/app/(pages)/strapi/(components)/getHeaders.ts
  client/app/(pages)/strapi/[id]/page.tsx
  client/app/(pages)/strapi/page.tsx
  client/app/(server)/api/revalidate/route.ts
  client/app/(server)/api/service/modules/articlesService.tsx
  client/app/(server)/api/service/modules/benefitService.tsx
  client/app/(server)/api/service/modules/brandService.tsx
  client/app/(server)/api/service/modules/contactService.tsx
  client/app/(server)/api/service/modules/gadgetService.tsx
  client/app/(server)/api/service/modules/imageService.tsx
  client/app/(server)/api/service/modules/issueService.tsx
  client/app/not-found.tsx
  client/app/page.tsx
  client/app/trpc.ts
  client/next.config.js
  client/package.json
  docker-compose.yml
  docker/Dockerfile.client
  docker/Dockerfile.server
  package-lock.json
  package.json
  server/package.json
  server/src/domain/contacts/schemas/contact.schema.ts
  server/src/main.ts
Labels: backend, frontend-client

#176 Update docker, trpc, ssr conf
  client/.dockerignore
  client/.env.example
  client/app/(layouts)/Header.tsx
  client/app/(pages)/blog/[page]/[article]/page.tsx
  client/app/(pages)/blog/[page]/layout.tsx
  client/app/(pages)/blog/[page]/page.tsx
  client/app/(pages)/repair/[gadget]/[issue]/page.tsx
  client/app/(pages)/repair/[gadget]/brands/[brand]/page.tsx
  client/app/(pages)/repair/[gadget]/brands/page.tsx
  client/app/(pages)/repair/[gadget]/layout.tsx
  client/app/(pages)/repair/[gadget]/page.tsx
  client/app/(pages)/repair/page.tsx
  client/app/(utils)/transformer.ts
  client/app/(utils)/trpc.ts
  client/app/layout.tsx
  client/app/not-found.tsx
  client/app/page.tsx
  client/app/trpc.ts
  client/next.config.js
  client/package.json
  client/tsconfig.json
  docker/Dockerfile.client
  package-lock.json
  server/src/domain/articles/articles.service.ts
  server/src/domain/benefits/benefits.service.ts
  server/src/domain/brands/brands.controller.test.ts
  server/src/domain/brands/brands.service.ts
  server/src/domain/contacts/contacts.controller.test.ts
  server/src/domain/contacts/contacts.service.ts
  server/src/domain/gadgets/gadgets.service.ts
  server/src/domain/images/images.service.ts
  server/src/domain/issues/issues.service.ts
  server/src/domain/trpc/trpc.router.ts
  server/src/domain/trpc/trpc.service.ts
  server/src/domain/users/users.controller.test.ts
  server/src/domain/users/users.service.ts
  server/src/main.ts
  server/tsconfig.json
Labels: backend, frontend-client

#177 refactor: update server docker config
  docker/Dockerfile.server
Labels: backend
